# SQL Murder Mystery

## Can you find out whodunnit?

![A decorative illustration of a detective looking at an evidence board.](https://mystery.knightlab.com/174092-clue-illustration.png)

There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.

## SQL sleuths start here

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **​murder​**that occurred sometime on ​**Jan.15, 2018​** and that it took place in ​**SQL City​**. Start by retrieving the corresponding crime scene report from the police department’s database.

### Exploring the Database Structure

Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

Run this query to find the names of the tables in this database.

This command is specific to SQLite. For other databases, you'll have to learn their specific syntax.

In [1]:
# Install required packages
#%pip install ipython-sql sqlalchemy pandas --quiet

# Load SQL magic
%load_ext sql

# Connect to the database
%sql sqlite:///sql-murder-mystery.db

In [2]:
%%sql
SELECT name
FROM sqlite_master
where type = 'table'

 * sqlite:///sql-murder-mystery.db
Done.

[('crime_scene_report',),
 ('drivers_license',),
 ('facebook_event_checkin',),
 ('interview',),
 ('get_fit_now_member',),
 ('get_fit_now_check_in',),
 ('solution',),
 ('income',),
 ('person',)]


Besides knowing the table names, you need to know how each table is structured. The way this works is also dependent upon which database technology you use. Here's how you do it with SQLite.

Run this query to find the structure of the `crime_scene_report` table

Change the value of 'name' to see the structure of the other tables you learned about with the previous query.

In [3]:
%%sql
SELECT sql
FROM sqlite_master
where name = 'crime_scene_report'

 * sqlite:///sql-murder-mystery.db
Done.

[('CREATE TABLE crime_scene_report (\n        date integer,\n        type text,\n        description text,\n        city text\n    )',)]

In [6]:
%%sql
SELECT * 
FROM crime_scene_report 
WHERE city = 'SQL City' 
  AND date = 20180115
  AND type = 'murder';

 * sqlite:///sql-murder-mystery.db
Done.

[(20180115, 'murder', 'Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".', 'SQL City')]

In [8]:
%%sql
SELECT * 
FROM person
WHERE address_street_name = 'Northwestern Dr'
ORDER BY address_number DESC;

 * sqlite:///sql-murder-mystery.db
Done.

[(14887, 'Morty Schapiro', 118009, 4919, 'Northwestern Dr', '111564949'),
 (17729, 'Lasonya Wildey', 439686, 3824, 'Northwestern Dr', '917817122'),
 (53890, 'Sophie Tiberio', 957671, 3755, 'Northwestern Dr', '442830147'),
 (73368, 'Torie Thalmann', 773862, 3697, 'Northwestern Dr', '341559436'),
 (96595, 'Coretta Cubie', 303645, 3631, 'Northwestern Dr', '378403829'),
 (19420, 'Cody Schiel', 890431, 3524, 'Northwestern Dr', '947110049'),
 (93509, 'Emmitt Aceuedo', 916706, 3491, 'Northwestern Dr', '979073160'),
 (87456, 'Leonora Wolfsberger', 215868, 3483, 'Northwestern Dr', '565203106'),
 (36378, 'Freddie Ellzey', 267882, 3449, 'Northwestern Dr', '474117596'),
 (53076, 'Boris Bijou', 664914, 3327, 'Northwestern Dr', '401191868'),
 (28360, 'Rashad Cascone', 924517, 3212, 'Northwestern Dr', '838907424'),
 (23044, 'Val Portlock', 924989, 3143, 'Northwestern Dr', '100593316'),
 (51114, 'Christena Saffell', 814284, 3055, 'Northwestern Dr', '247657547'),
 (68690, 'Yer Modest', 852404, 3046, 'Northwestern Dr', '419238039'),
 (44004, 'Alison Eska', 327797, 2951, 'Northwestern Dr', '306417867'),
 (98593, 'Jonah Toner', 578982, 2947, 'Northwestern Dr', '745853548'),
 (59307, 'Cyril Yongue', 753524, 2903, 'Northwestern Dr', '866057839'),
 (34155, 'Allyson Lazenson', 814209, 2840, 'Northwestern Dr', '991150469'),
 (90397, 'Dionna Kranwinkle', 797260, 2678, 'Northwestern Dr', '278964807'),
 (54564, 'Sammie Sengun', 217286, 2590, 'Northwestern Dr', '848854310'),
 (53699, 'Christian Pagano', 628433, 2585, 'Northwestern Dr', '644772304'),
 (34352, 'Vincenza Burkhardt', 436470, 2512, 'Northwestern Dr', '197913046'),
 (80921, 'Donovan Yackley', 222395, 2386, 'Northwestern Dr', '515049359'),
 (96178, 'Galina Khuu', 450248, 2183, 'Northwestern Dr', '398518185'),
 (81885, 'Kurtis Masuda', 934201, 2108, 'Northwestern Dr', '201272595'),
 (88423, 'Teri Ehrich', 510876, 1879, 'Northwestern Dr', '248637345'),
 (51552, 'Bonita Knie', 764124, 1726, 'Northwestern Dr', '597137908'),
 (72076, 'Courtney Bordeaux', 324614, 1707, 'Northwestern Dr', '347966356'),
 (81052, 'Calvin Czelusniak', 471483, 1516, 'Northwestern Dr', '657531837'),
 (71924, 'Laurie Scronce', 774116, 1418, 'Northwestern Dr', '254883636'),
 (23960, 'Kristopher Lagerberg', 658777, 1392, 'Northwestern Dr', '492912529'),
 (70485, 'Andera Kostelecky', 354822, 1252, 'Northwestern Dr', '787423012'),
 (22239, 'Dusty Sigafus', 710517, 1125, 'Northwestern Dr', '724386723'),
 (18376, 'Josh Shi', 653712, 1091, 'Northwestern Dr', '193899001'),
 (29608, 'Willetta Lurvey', 800568, 1028, 'Northwestern Dr', '843751378'),
 (33415, 'Homer Simpson', 108392, 981, 'Northwestern Dr', '871392019'),
 (55130, 'Shiloh Huntoon', 472118, 951, 'Northwestern Dr', '826647644'),
 (44542, 'Ivory Mcgrevey', 873842, 897, 'Northwestern Dr', '988557407'),
 (99826, 'Ivy Kazarian', 994470, 892, 'Northwestern Dr', '208359813'),
 (25615, 'Olevia Morena', 388477, 812, 'Northwestern Dr', '962831331'),
 (40760, 'Renata Faver', 976650, 745, 'Northwestern Dr', '547572040'),
 (10010, 'Muoi Cary', 385336, 741, 'Northwestern Dr', '828638512'),
 (39688, 'Abe Roeker', 537445, 689, 'Northwestern Dr', '438969447'),
 (26758, 'Angelena Billman', 942074, 629, 'Northwestern Dr', '341854756'),
 (75484, 'Del Tacderen', 447887, 607, 'Northwestern Dr', '243821337'),
 (12711, 'Norman Apolito', 667757, 599, 'Northwestern Dr', '778264744'),
 (85280, 'Donn Duin', 569122, 540, 'Northwestern Dr', '613873810'),
 (40336, 'Fredia Billeter', 251082, 404, 'Northwestern Dr', '108056488'),
 (15171, 'Weldon Penso', 336999, 311, 'Northwestern Dr', '131379495'),
 (89906, 'Kinsey Erickson', 510019, 309, 'Northwestern Dr', '635287661')]

In [9]:
%%sql
SELECT * 
FROM interview
WHERE person_id = 14887;

 * sqlite:///sql-murder-mystery.db
Done.

[(14887, 'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".')]

In [16]:
%%sql
SELECT * 
FROM drivers_license
WHERE plate_number LIKE '%H42W%';

 * sqlite:///sql-murder-mystery.db
Done.

[(183779, 21, 65, 'blue', 'blonde', 'female', 'H42W0X', 'Toyota', 'Prius'),
 (423327, 30, 70, 'brown', 'brown', 'male', '0H42W2', 'Chevrolet', 'Spark LS'),
 (664760, 21, 71, 'black', 'black', 'male', '4H42WR', 'Nissan', 'Altima')]

In [ ]:
%%sql
SELECT * 
FROM person
WHERE license_id IN (423327, 664760);

 * sqlite:///sql-murder-mystery.db
Done.

[(51739, 'Tushar Chandra', 664760, 312, 'Phi St', '137882671'),
 (67318, 'Jeremy Bowers', 423327, 530, 'Washington Pl, Apt 3A', '871539279')]

In [31]:
%%sql
SELECT * 
FROM person
WHERE name LIKE '%Annabel%'
  AND address_street_name = 'Franklin Ave';

 * sqlite:///sql-murder-mystery.db
Done.

[(16371, 'Annabel Miller', 490173, 103, 'Franklin Ave', '318771143')]

In [32]:
%%sql
SELECT * 
FROM interview
WHERE person_id = 16371;

 * sqlite:///sql-murder-mystery.db
Done.

[(16371, 'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.')]

In [33]:
%%sql
SELECT * 
FROM get_fit_now_member
WHERE person_id IN (51739, 67318);

 * sqlite:///sql-murder-mystery.db
Done.

[('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold')]

In [34]:
%%sql
SELECT * 
FROM get_fit_now_check_in
WHERE membership_id = '48Z55';

 * sqlite:///sql-murder-mystery.db
Done.

[('48Z55', 20180109, 1530, 1700)]


### The rest is up to you!

If you're really comfortable with SQL, you can probably get it from here. To help, here is the schema diagram:

![schema diagram](schema.png)

Use your knowledge of the database schema and SQL commands to find out who committed the murder.
### Check your solution

Did you find the killer? When you think you know the answer, submit your suspect using the following code and find out if you're right.

In [35]:
%%sql
INSERT INTO solution VALUES (1, 'Jeremy Bowers');
SELECT value FROM solution;

 * sqlite:///sql-murder-mystery.db
1 rows affected.
Done.

[("Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murd ... (88 characters truncated) ... r SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement with your new suspect to check your answer.",)]

In [36]:
%%sql
SELECT * 
FROM interview
WHERE person_id = 67318;

 * sqlite:///sql-murder-mystery.db
Done.

[(67318, 'I was hired by a woman with a lot of money. I don\'t know her name but I know she\'s around 5\'5" (65") or 5\'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n')]

In [48]:
%%sql
SELECT p.id AS person_id, p.name, dl.car_make, dl.car_model, dl.hair_color
FROM drivers_license AS dl
JOIN person AS p ON p.license_id = dl.id
JOIN facebook_event_checkin AS f ON f.person_id = p.id
WHERE dl.hair_color = 'red'
  AND dl.car_make = 'Tesla'
  AND dl.car_model = 'Model S'
  AND dl.gender = 'female'
  AND f.event_name = 'SQL Symphony Concert'
  AND f.date BETWEEN 20171201 AND 20171231
GROUP BY p.id
HAVING COUNT(f.event_name) = 3;

 * sqlite:///sql-murder-mystery.db
Done.

[(99716, 'Miranda Priestly', 'Tesla', 'Model S', 'red')]